body { 
    margin: 0; 
    background: #0b0e13; 
    font-family: Arial, sans-serif; 
    height: 100%;
}


.main {
    flex: 1;
    display: flex; 
}


.sidebar-left {
    width: 235px;
    background-color: pink;
}


.main-content {
    background-color: blueviolet;
    flex: 1;
}
