body { 
    margin: 0; 
    background: #0b0e13; 
    font-family: Arial, sans-serif; 
    height: 100%;
}


* {
    box-sizing: border-box;
}


.main {
    height: 89vh;
    display: flex; 
}

.sidebar-left {
    width: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #2B3139, #24282F);

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
}



.search_items:hover {
    scrollbar-color: #555 transparent;
}

.search_items::-webkit-scrollbar {
    width: 4px;
}

.search_items::-webkit-scrollbar-track {
    background: transparent;
}

.search_items::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.search_items:hover::-webkit-scrollbar-thumb {
    background: #555;
}


.sidebar-resizer {
    width: 2px;
    cursor: ew-resize;
    background: #2e2e35;
    transition: background 0.2s ease;
    flex-shrink: 0;
}

.sidebar-resizer:hover,
.sidebar-resizer.dragging {
    background: #555;
}


.home-outside {
    height: 43px;
    background: #171D25;
    padding: 5px 0px; 
    display: flex;
    flex-direction: row;
}


.home {
    width: 100%;
    background-color: #3E4047;
    border-radius: 2px;
    align-items: center;
    display: flex;
    color: white;
    font-size: 13px;
    padding-left: 4px;
}


.home-options {
    aspect-ratio: 1/1;
    background-color: #25272D;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}


.sort-menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 40px;
    padding: 4px 0px;
    align-items: center;
    color: white;
    gap: 4px;
        padding-right: 5px;
}


.sort-button {
    background-color: #25282D;
    border-radius: 2px;
    width: 75%;
    height: 30px;
    display: flex;  
    overflow: hidden;
    text-wrap: nowrap;
    align-items: center;
    box-shadow: none;
    border: none;
}


.back-top {
    border-radius: 2px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: none;
    background-color: #32373E;
}


.sort-time, .sort-playable {
    font-size: 20px;
    margin-left: 5px;
}


.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 100%;
}


.search-input {
    background-color: #25282D;
    width: 100%;
    height: 30px;
    padding-left: 8px;
    color: rgb(133, 133, 133);
    border: none;
    font-size: 15px;
    align-items: center;
    transition: background 0.2s ease, color 0.2s ease;
}

.filter {
    background-color: #25282D;
    width: 34.7px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.search-input:hover {
    background: #1e2025;
    box-shadow: inset 0px 0px 10px #0a0a0c;
    color: #c7d5e0;
}


.search-input:focus {
    background: #1e2025;
    box-shadow: inset 0px 0px 10px #0a0a0c;
    outline: none;
    color: #ccc;
}


.search_items {
    overflow-y: auto;
    border-radius: 4px;
    text-wrap: nowrap;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
    height: calc(100vh - 240px);
    margin-top: 12px;
}


.game-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}


.search-item {
    padding: 2px 8px;
    color: #c7d5e0;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;
}


.search-item:hover {
    background-color: #3e444e;
}












.main-content {
    background-color: #2D333C;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: #17191B solid 1px;
}


.content-news {
    height: 220px;
    background: linear-gradient(to bottom, #2D333C, #171D25);
    display: flex;
    border-top: #24282F solid 1px;
}


.add-shelf {
    height: 40px;
    background-color: #2D333C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #24282F solid 1px;
    justify-content: center;
    align-items: center;
    color: #5E6267;
}


.main_items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    height: 300px;
}

.shelf {
    display: flex;
    height: 300px;
}


.top-shelf {
    height: 40px;
    width: 100%;
    background-color: #2D333C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    gap: 10px;
    align-items: center;
}


.shelf-name {
    font-size: 16px;
    text-wrap: nowrap;
    overflow: hidden;
}



.shelf-line-detection {
    height: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 20px;
        transition: background 0.2s ease;
}


.shelf-line-detection:hover {
    background-color: #373C45;
    transform: translateY(0);
        transition: background 0.2s ease;
}


.shelf-line {
    background-color: #373C45;
    height: 2px;
    width: 100%;
}



@media (max-width: 798px) {
    .sidebar-left {
        display: none;
    }
}