.middle-right-profile{
    background-color: rgba(10, 10, 10, 0.8);
    position: absolute;
    margin-top: 100px;
    margin-left: 610px;
    width: 270px;
    display: flex;
    flex-direction: column;
}

.offline-benjamin{
    color: #7A7A7A;
    font-size: 20px;
    padding-left: 10px;
}

.catagories-benjamin{
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 7px;
}

.catagories-button-benjamin{
    background-color: transparent;
    border: none;
}

.catagories-button-benjamin :hover{
    text-decoration: underline;
    cursor: pointer;
}

.catagories-presets-benjamin{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.inventory-presets-benjamin{
    display: flex;
    padding-top: 10px;
}

.friends-presets-benjamin{
    display: flex;
    padding-top: 50px;
}

.catagories-number-benjamin{
    color: #7A7A7A;
    font-size: 20px;
    padding-left: 10px;
}

.awards-pic{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.friends-colum{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.friends-colum :hover{
    background-color: #3A3A3A;
    border-color: pink;
}

.friends-preset{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}

.friends-name-online ,
.friends-status-online,
.friends-name-offline ,
.friends-status-offline,
.friends-name-playing ,
.friends-status-playing,
.friends-game{
    padding-left: 10px;
    font-size: 12px;
}

.friends-name-online ,
.friends-status-online{
    color: cyan;
}

.friends-name-offline ,
.friends-status-offline{
    color: #7A7A7A;
}

.friends-name-playing ,
.friends-status-playing,
.friends-game{
    color: #83A638;
}



.friends-pfp{
    width: 32px;
    height: 32px;
}

.friends-name-status{
    display: flex;
    flex-direction: column;
}

.pfp-name-status{
    display: flex;
    flex-direction: row;
}

.level{
    border-radius: 9999px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: red;  
    border-style: solid;
    color: white;
    font-size: 12px;
    left: 100%;
}

