body{
    font-family: Arial, sans-serif; 
    margin: 0;
    height: 100%;
    background-image: url("https://shared.fastly.steamstatic.com/community_assets/images/items/874400/14e1a261b94ebe19eac8234a9c7e4abaae1084bb.jpg");
}


.profilebackground{
    background-color: rgba(34, 33, 46, 0.9);
    height: 1600px;
    width: 890px;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic{
    height: 154px;
    width: 154px;
    padding-left: 30px;
    padding-top: 20px;
}

.profile-name-benjamin{
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    

}

.top-left-profile{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.realname{
    font-size: 12px;
    color: lightgray;
    padding-top: 10px;
}

.spelarspel{
    font-size: 12px;
    padding-top: 13px;
    color: lightgray;
}

.level-container{
    color: white;
    padding-top: 24px;
    padding-left: 230px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.level-number{
    border-radius: 9999px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: red;  
    border-style: solid;
}

.top-profile{
    display: flex;
    flex-direction: row;
    padding-top: 20px; 
}


