.middle-profile{
    background-color: rgba(10, 10, 10, 0.8);
    margin-left: 15px; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.topbar-recent-games{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
}

.recent-games-text, 
.recent-games-stats{
   color: white;
}

.middle-left-profile{
    background-color: rgba(17, 17, 17, 0.8);
    width: 580px;
    margin-left: 15px; 
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.games-benjamin{
    display: flex;
    flex-direction: row;
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 4px;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.recent-games-img{
    width: 184px;
    height: 69px;
    align-items: center;
}



.game-name{
    margin-left: 4px;
    padding-top: 8px;
    color: white;
}

.game-left-side-benjamin{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-size: 13px;
    color: rgba(121, 121, 121);
}

.middle-left-profile-bottom-text{
    padding-left: 340px;
}

.all-recently-played,
.wishlist{
    border: none;
    background-color: transparent;
    color: white;
}

.button-downarrow{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.downarrow-benjamin{
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

.view{
    color: rgba(128, 128, 128, 0.4);
}

.wishlist:hover,
.all-recently-played:hover{
    color: #66C0F4;
}

.comments-text{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.comments-benjamin{
    background-color: rgba(10, 10, 10, 0.8);
    width: 580px;
    height: 40px;
    margin-left: 15px; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.game-name-button{
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.game-name-button :hover{
    color: #66C0F4;
}

.comments-comments{
    background-color: rgba(17, 17, 17, 0.8);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}

.commentspfp-benjamin{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
}

.comments-personer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments-container :hover{
    background-color: #3A3A3A;
}

.comments-personer :hover{
    background-color: #3A3A3A;
}

.comments-username-benjamin{
    color: white;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 13px;
}

.comments-time{
    color: #7A7A7A;
    margin-top: 10px;
    font-size: 13px;
    padding-right: 4px;
}


.kommer-att-runka{
    display: flex;
    flex-direction: column;
}

.comments-content{
    color: white;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 21px;

}

.comments-container{
    background-color: #121212;
    padding-right:2px;
}

.comments-pfp-name-content{
    display: flex;
}