.middle-profile{
    background-color: rgba(10, 10, 10, 0.8);
    margin-top: 100px;
    width: 580px;
    height: 40px;
    margin-left: 15px; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.topbar-recent-games{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
}

.recent-games-text, 
.recent-games-stats{
   color: white;
}

.middle-left-profile{
    background-color: rgba(34, 33, 46, 0.7);
    background-color: pink;
    width: 580px;
    margin-left: 15px; 
    border-radius: 5px;
    padding-top: 10px;
}

.games{
    display: flex;
    flex-direction: row;
    background-color: rgba(10, 10, 10, 0.8);
    background-color: green;

    border-radius: 4px;
    padding: 8px;
}

.game-name{
    margin-left: 4px;
    padding-top: 8px;
    color: white;
}